[submodule "sdks/assemblyscript"]
	path = sdks/assemblyscript
	url = https://github.com/solo-io/proxy-runtime
[submodule "sdks/proxy-wasm-cpp-sdk"]
	path = sdks/proxy-wasm-cpp-sdk
	url = https://github.com/proxy-wasm/proxy-wasm-cpp-sdk
[submodule "sdks/proxy-wasm-rust-sdk"]
	path = sdks/proxy-wasm-rust-sdk
	url = https://github.com/proxy-wasm/proxy-wasm-rust-sdk
[submodule "sdks/proxy-wasm-go-sdk"]
	path = sdks/proxy-wasm-go-sdk
	url = https://github.com/tetratelabs/proxy-wasm-go-sdk
