name: pull_request

on:
  push:
    paths:
    - "tools/wasme/**" 
    branches:
    - 'master'
  pull_request:
    paths:
    - "tools/wasme/**" 
jobs:
  test:
    name: end-to-end
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14
    - uses: engineerd/setup-kind@v0.3.0
      with:
        skipClusterCreation: "true"
    - name: Install Protoc
      uses: solo-io/setup-protoc@master
      with:
        version: '3.6.1'
    - uses: azure/setup-kubectl@v1
      id: kubectl
      with:
        version: 'v1.18.0'
    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Setup env
      env:
        KUBECTL: ${{ steps.kubectl.outputs.kubectl-path }}
      working-directory: ./tools/wasme/cli
      run: |
        curl -sSL https://get.helm.sh/helm-v3.2.0-linux-amd64.tar.gz | tar -xzf - linux-amd64/helm
        curl -sSL https://github.com/istio/istio/releases/download/1.5.1/istio-1.5.1-linux.tar.gz | tar -xzf - istio-1.5.1/bin/istioctl
        export PATH=$PWD/istio-1.5.1/bin:$PWD/linux-amd64:$(dirname $KUBECTL):$PATH
        go get -u github.com/onsi/ginkgo/ginkgo
        make install-deps
        ./ci/setup-kind.sh
    - name: Testing
      env:
        KUBECTL: ${{ steps.kubectl.outputs.kubectl-path }}
      working-directory: ./tools/wasme/cli
      run: |
        export PATH=$(dirname $KUBECTL):$PATH
        export FILTER_IMAGE_GLOO_TAG=webassemblyhub.io/sodman/example-filter:v0.3
        export FILTER_IMAGE_ISTIO_TAG=webassemblyhub.io/ilackarms/assemblyscript-test:istio-1.5
        export FILTER_BUILD_IMAGE_TAG=localhost:5000/test:v1
        make run-tests
    - name: Debug Info
      if: failure()
      env:
        KUBECTL: ${{ steps.kubectl.outputs.kubectl-path }}
      run: |
        # see what's in the cluster if we failed
        kubectl get all -A
        kubectl get configmaps -A
  e2e-istio-1_6:
    name: e2e-test-istio 1.6
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14
    - uses: engineerd/setup-kind@v0.3.0
      with:
        skipClusterCreation: "true"
    - name: Install Protoc
      uses: solo-io/setup-protoc@master
      with:
        version: '3.6.1'
    - uses: azure/setup-kubectl@v1
      id: kubectl
      with:
        version: 'v1.18.0'
    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Setup env
      env:
        KUBECTL: ${{ steps.kubectl.outputs.kubectl-path }}
      working-directory: ./tools/wasme/cli
      run: |
        curl -sSL https://get.helm.sh/helm-v3.2.0-linux-amd64.tar.gz | tar -xzf - linux-amd64/helm
        curl -sSL https://github.com/istio/istio/releases/download/1.6.6/istio-1.6.6-linux-amd64.tar.gz | tar -xzf - istio-1.6.6/bin/istioctl
        export PATH=$PWD/istio-1.6.6/bin:$PWD/linux-amd64:$(dirname $KUBECTL):$PATH
        go get -u github.com/onsi/ginkgo/ginkgo
        make install-deps
        ./ci/setup-kind.sh
    - name: Testing
      env:
        KUBECTL: ${{ steps.kubectl.outputs.kubectl-path }}
      working-directory: ./tools/wasme/cli
      run: |
        export PATH=$(dirname $KUBECTL):$PATH
        export FILTER_IMAGE_ISTIO_TAG=webassemblyhub.io/ilackarms/assemblyscript-test:istio-1.5
        export FILTER_IMAGE_GLOO_TAG=webassemblyhub.io/sodman/example-filter:v0.3
        export FILTER_BUILD_IMAGE_TAG=localhost:5000/test:v1
        make run-tests
    - name: Debug Info
      if: failure()
      env:
        KUBECTL: ${{ steps.kubectl.outputs.kubectl-path }}
      run: |
        # see what's in the cluster if we failed
        kubectl get all -A
        kubectl get configmaps -A
